* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: Roboto;
}

.button {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 19px;
  border: 2px solid #f00;
  margin: 50px;
  width: 136px;
  color: #f00;
}

.icon {
  font-size: 18px;
  line-height: 18px;
}

.text {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.count {
  color: black;
  font-size: 14px;
  line-height: 18px;
}
.button.is-active {
  background: #f00;
  color: white;
}

.count.is-active {
  color: white;
}
